{% extends 'favouriteBooks/base.html' %}
{% block content %}
{% if fav_books %}

<table class="table table-borderles" style="color: cyan;">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Book Name</td>
            <td>Author</td>
            <td>Category</td>
            <td>Likes</td>
            <td>
                <a href="{% url 'add_fav_book' %}" class="btn text-secondary px-0">
                    <i class="fa-solid fa-circle-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for book in fav_books %}
        <tr>
            <td>{{book.book_name}}</td>
            <td>{{book.book_authors}}</td>
            <td>{{book.book_category}}</td>
            <td>
                <a href="{% url 'like_book' book.id %}">
                    <i class="fa-solid fa-thumbs-up"></i><strong>{{book.favourites}}</strong>
                </a>
            </td>
            <td>
                <a href="{% url 'edit_fav_book' book.id %}" class="btn text-secondary px-0">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <a href="{% url 'delete_fav_book' book.id %}" class="btn text-secondary px-0">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
            
        {% endfor %}
    </tbody>
</table>

{% else %}
<a href="{% url 'add_fav_book' %}" class="btn text-secondary px-0">
    <i class="fa-solid fa-circle-plus"></i> Add New
</a>
<p>No books have been added. Be the first to add your favourite book.</p>
{% endif %}
{% endblock %}